@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  border-box:box-sizing
}

html, body, #root{
  height:100vh;
  width: 100vw;
  scroll-behavior: smooth;

}

.niceday-text{
  background-image: linear-gradient(45deg, #ffb3ba, #c49c6e, #bfbf76, #77b084, #ff7e74, #3b82f6, #c084fc, #db2777);
  color: transparent;
  -webkit-background-clip: text; /* Edge, Chrome */
  background-clip: text; /* Safari, FF */
  animation: gradientAnimation 8s linear infinite;
  animation-direction: alternate;
  background-size: 300% 100%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0;
  }
  to {
    background-position: 100%;
  }
}

body {
  font-family: 
    -apple-system, 
    system-ui, 
    Segoe UI, 
    Noto Sans, 
    Helvetica, 
    Arial, 
    sans-serif;
}

h1 {
  font-weight: 700; 
  font-size: 2.5em;
  text-align: center;
}